@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  position: relative;
  margin: 0;
  min-height: 100vh;
}

